@use 'components/input';
@include input.input-theme;

.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
}


.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 1rem;

    h1 {
        margin: 0;
        display: flex;
        align-items: center;
        font-size: 2rem;
        gap: 1rem;
    }
}

.search-field {
    width: 45%;
}

.content-container {
    .employee-cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;
    }

    .employee-card {
        width: 100%;
        background-color: var(--sys-on-primary);

        &:hover {
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
            transform: translateY(-4px);
        }

        mat-card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            mat-icon {
                margin-left: auto;
            }
        }


        mat-card-content {
            padding: 8px 16px;

            p {
                margin: 4px 0;
                font-size: 16px;
            }
        }

        mat-card-actions {
            display: flex;
            justify-content: flex-end;

            p {
                margin: 0;
                font-size: 18px;
            }
        }
    }
}