@mixin table-theme() {
  .data-table {
    --mat-table-background-color: var(--mdc-elevated-card-container-color);
    --mat-table-row-item-outline-color: var(--sys-outline-variant);
    border-collapse: collapse;
    text-align: center;

    .mat-mdc-row {
      &:hover {
        background-color: color-mix(in srgb, var(--sys-surface-container), var(--sys-primary) 4%);
      }
    }

    ::ng-deep .mat-sort-header-container {
      text-align: center;
      justify-content: center;
    }
    

    .mdc-data-table__cell,
    .mdc-data-table__header-cell {
      padding: 0 8px;
      text-align: center;
    }

    .sticky-header thead {
      position: sticky;
      text-align: center;
      inset-block-start: var(--table-header-sticky-offset);
    }

    .mat-column-OrderDate {
      width: 100px;
    }

    // .mat-column-CustomerName {
    //   width: 150px;
    // }

  }

  ::ng-deep .data-table.mat-mdc-table thead {
    inset-block-start: var(--table-header-sticky-offset);
    background-color: var(--sys-primary);
    --mat-table-header-headline-color: var(--sys-on-primary);
    --mat-sort-arrow-color: var(--sys-on-primary);
    --mat-table-header-headline-size: 0.75rem;
  }
}