@use 'animations';
@include animations.font-filled();


:host {
  --layout-container-color: color-mix(in srgb, var(--sys-surface), var(--sys-surface-tint) 4%);
  --mat-sidenav-content-background-color: var(--sys-background);
  --mat-sidenav-container-background-color: var(--sys-secondary-container);
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 275px;
  padding: 0 12px;
  box-sizing: border-box;
}

.title-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}


.mat-sidenav-content {
  padding-inline: 16px;
}

.page-container {
  display: flex;
  gap: 1rem;
}

aside {
  width: 320px;
  height: calc(100vh - var(--mat-toolbar-standard-height) - 1.5rem);
  background-color: var(--mdc-elevated-card-container-color);
  border-radius: var(--mdc-elevated-card-container-shape);
  box-sizing: border-box;
  overflow-y: auto;
  padding: 1rem;
  margin-block: 0.25rem;
}

.sidenav-scroll-wrapper {
  width: 100%;
  border-radius: var(--mdc-elevated-card-container-shape);
  overflow: auto;
  box-sizing: border-box;
  //padding: 1rem;
  view-transition-name: content-container-transition;
}

.sidenav-content {
  padding: 0;
  box-sizing: border-box;
  width: 100%;

  &:has(.fab-container) {
    padding-block-end: 72px;
  }

  @media (pointer: fine) {
    &::-webkit-scrollbar {
      background-color: var(--sys-surface-container-lowest);
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
    }
  }
}

@media (max-width: 599.98px) {
  .page-container {
    gap: 0.5rem;
  }

  mat-sidenav-content {
    padding-inline: 8px;
  }

  .sidenav-container:has(.mat-drawer-over) {
    mat-sidenav-content {
      padding-inline: 8px;
    }
  }

  .sidenav-scroll-wrapper {
    height: calc(100dvh - 64px);

    &:has(.mat-mdc-paginator) {
      height: calc(100dvh - 128px);
    }
  }

  ::ng-deep .webkit {
    .sidenav-scroll-wrapper {
      &:has(.mat-mdc-paginator) {
        height: calc(100dvh - 64px);
      }
    }
  }
}